In [25]:
import polars as pl
import polars.selectors as cs
import os

In [31]:
#----- FUNCTIONS ---------------------------------------------------------------
def read_and_clean_csv():
    print('reading and cleaning csv file')
    no_education = 'I’ve never completed any formal education'
    elem_education = 'Primary / elementary school'
    high_school = (
        'Secondary school (e.g. American high school, ' +
        'German Realschule or Gymnasium, etc.)'
    )
    some_college = (
        "Some college or university study " +
        "without earning a bachelor’s degree"
    )
    bachelors = 'Bachelor’s degree (BA, BS, B.Eng., etc.)'
    masters = 'Master’s degree (MA, MS, M.Eng., MBA, etc.)'
    doctorate = 'Doctoral degree (Ph.D, Ed.D., etc.)'
    professional = 'Professional degree (JD, MD, etc.)'
    return(
        pl.scan_csv('dataset.csv')
        .select(
            COUNTRY = cs.starts_with('[1]').cast(pl.Categorical()),
            GENDER = cs.starts_with('[2]').cast(pl.Categorical()),
            AGE_RANGE = cs.starts_with('[3]')
                .replace('60 or older', '60+')
                .cast(pl.Categorical()),
            WORK_LANG = pl.concat_list(cs.starts_with('[9]'))
                .list.eval(pl.element().filter(pl.element().is_not_null())),
            EDUCATION = cs.starts_with('[12]')
                .replace(no_education, 'None')
                .replace(elem_education, 'Elementary')
                .replace(high_school, 'High School')
                .replace(some_college, 'Some College')
                .replace(bachelors, 'Bachelors')
                .replace(masters, 'Masters')
                .replace(doctorate, 'Doctorate')
            .replace(professional, 'Professional')
            .cast(pl.Categorical()),
            JOB_ROLE = pl.concat_list(cs.starts_with('[23]'))
                .list.eval(pl.element().filter(pl.element().is_not_null())),
            JOB_LEVEL = cs.starts_with('[24]').cast(pl.Categorical()),
            YEARS_EXPERIENCE = cs.starts_with('[25]')
                .str.replace(' years', '')
                .str.replace(' year', '')
                .str.replace('Less than 1', '<1')
                .str.replace("I don't have any professional coding experience", '0'),
            CS_LANGS = pl.concat_list(cs.starts_with('[44]'))
                .list.eval(pl.element().filter(pl.element().is_not_null())),
            AI_ASST = pl.concat_list(cs.starts_with('[62]'))
                .list.eval(pl.element().filter(pl.element().is_not_null())),
            AI_FEATURES = pl.concat_list(cs.starts_with('[63]'))
                .list.eval(pl.element().filter(pl.element().is_not_null())),
        )
        .with_columns(
            JOB_ROLE_COUNT = pl.col('JOB_ROLE').list.len(),
            WORK_LANG_COUNT = pl.col('WORK_LANG').list.len(),
            CS_LANGS_COUNT = pl.col('CS_LANGS').list.len(),
            AI_ASST_COUNT = pl.col('AI_ASST').list.len(),
            AI_FEATURES_COUNT = pl.col('AI_FEATURES').list.len(),
        )
        .with_columns(
            JOB_ROLE_WT = pl.when(pl.col('JOB_ROLE_COUNT') > 0)
                .then(1/pl.col('JOB_ROLE_COUNT')).otherwise(pl.lit(0)),        
            WORK_LANG_WT = pl.when(pl.col('WORK_LANG_COUNT') > 0)
                .then(1/pl.col('WORK_LANG_COUNT')).otherwise(pl.lit(0)),
            CS_LANGS_WT = pl.when(pl.col('CS_LANGS_COUNT') > 0)
                .then(1/pl.col('CS_LANGS_COUNT')).otherwise(pl.lit(0)),
            AI_ASST_WT = pl.when(pl.col('AI_ASST_COUNT') > 0)
                .then(1/pl.col('AI_ASST_COUNT')).otherwise(pl.lit(0)),
            AI_FEATURES_WT = pl.when(pl.col('AI_FEATURES_COUNT') > 0)
                .then(1/pl.col('AI_FEATURES_COUNT')).otherwise(pl.lit(0)),
        )
        .drop_nulls('GENDER')
        .select(
            'COUNTRY', 'GENDER', 'AGE_RANGE', 
            'EDUCATION',  'JOB_LEVEL', 'YEARS_EXPERIENCE', 
            'JOB_ROLE',     'JOB_ROLE_COUNT',     'JOB_ROLE_WT',       
            'WORK_LANG',    'WORK_LANG_COUNT',     'WORK_LANG_WT',
            'CS_LANGS',     'CS_LANGS_COUNT',      'CS_LANGS_WT',
            'AI_ASST',      'AI_ASST_COUNT',       'AI_ASST_WT',
            'AI_FEATURES',  'AI_FEATURES_COUNT',   'AI_FEATURES_WT',
        )
        .with_columns(cs.float().cast(pl.Float32))
        .with_columns(cs.integer().cast(pl.UInt8))
        .with_row_index(name='INDEX', offset=1)
        .with_columns(pl.col('INDEX').cast(pl.UInt16))
        .explode('JOB_ROLE')
        .explode('WORK_LANG')
        .explode('CS_LANGS') 
        .explode('AI_ASST')
        .explode('AI_FEATURES')
        .with_columns(cs.string().cast(pl.Categorical()))
        .collect()  # convert Lazy Frame to Data Frame
    )

In [32]:
#----- GATHER AND CLEAN DATA ---------------------------------------------------

if False: # os.path.exists('df.parquet'):     # read parquet file if it exists
    print('reading data from parquet file')
    df=pl.read_parquet('df.parquet')
else:                                # read csv file, clean, save df as parquet
    df = read_and_clean_csv()
    print(df)
    df.write_parquet('df.parquet')

reading and cleaning csv file
shape: (2_262_495, 22)
┌───────┬─────────────┬────────┬───────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ INDEX ┆ COUNTRY     ┆ GENDER ┆ AGE_RANGE ┆ … ┆ AI_ASST_WT ┆ AI_FEATURE ┆ AI_FEATURE ┆ AI_FEATURE │
│ ---   ┆ ---         ┆ ---    ┆ ---       ┆   ┆ ---        ┆ S          ┆ S_COUNT    ┆ S_WT       │
│ u16   ┆ cat         ┆ cat    ┆ cat       ┆   ┆ f32        ┆ ---        ┆ ---        ┆ ---        │
│       ┆             ┆        ┆           ┆   ┆            ┆ cat        ┆ u8         ┆ f32        │
╞═══════╪═════════════╪════════╪═══════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 1     ┆ Italy       ┆ Male   ┆ 60+       ┆ … ┆ 0.0        ┆ null       ┆ 0          ┆ 0.0        │
│ 1     ┆ Italy       ┆ Male   ┆ 60+       ┆ … ┆ 0.0        ┆ null       ┆ 0          ┆ 0.0        │
│ 1     ┆ Italy       ┆ Male   ┆ 60+       ┆ … ┆ 0.0        ┆ null       ┆ 0          ┆ 0.0        │
│ 1     ┆ Italy       ┆ Male   ┆ 60+       ┆ … ┆ 0.0        ┆ null       ┆ 0          ┆ 0.0        │
│ 1     ┆ Italy       ┆ Male   ┆ 60+       ┆ … ┆ 0.0        ┆ null       ┆ 0          ┆ 0.0        │
│ …     ┆ …           ┆ …      ┆ …         ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ 14739 ┆ Russian     ┆ Male   ┆ 30–39     ┆ … ┆ 0.333333   ┆ Summarizin ┆ 14         ┆ 0.071429   │
│       ┆ Federation  ┆        ┆           ┆   ┆            ┆ g recent   ┆            ┆            │
│       ┆             ┆        ┆           ┆   ┆            ┆ code       ┆            ┆            │
│       ┆             ┆        ┆           ┆   ┆            ┆ change…    ┆            ┆            │
│ 14739 ┆ Russian     ┆ Male   ┆ 30–39     ┆ … ┆ 0.333333   ┆ Refactorin ┆ 14         ┆ 0.071429   │
│       ┆ Federation  ┆        ┆           ┆   ┆            ┆ g code     ┆            ┆            │
│ 14739 ┆ Russian     ┆ Male   ┆ 30–39     ┆ … ┆ 0.333333   ┆ Debugging  ┆ 14         ┆ 0.071429   │
│       ┆ Federation  ┆        ┆           ┆   ┆            ┆ code       ┆            ┆            │
│ 14739 ┆ Russian     ┆ Male   ┆ 30–39     ┆ … ┆ 0.333333   ┆ Help in    ┆ 14         ┆ 0.071429   │
│       ┆ Federation  ┆        ┆           ┆   ┆            ┆ choosing   ┆            ┆            │
│       ┆             ┆        ┆           ┆   ┆            ┆ framework- ┆            ┆            │
│       ┆             ┆        ┆           ┆   ┆            ┆ rel…       ┆            ┆            │
│ 14739 ┆ Russian     ┆ Male   ┆ 30–39     ┆ … ┆ 0.333333   ┆ Generating ┆ 14         ┆ 0.071429   │
│       ┆ Federation  ┆        ┆           ┆   ┆            ┆ CLI        ┆            ┆            │
│       ┆             ┆        ┆           ┆   ┆            ┆ commands   ┆            ┆            │
│       ┆             ┆        ┆           ┆   ┆            ┆ by nat…    ┆            ┆            │
└───────┴─────────────┴────────┴───────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [28]:
print(f'{len(df.columns) = }')
print(f'{df.columns = }')
print(f'{df.shape = }')
df.sample(10).glimpse()

len(df.columns) = 22
df.columns = ['INDEX', 'COUNTRY', 'GENDER', 'AGE_RANGE', 'EDUCATION', 'JOB_LEVEL', 'YEARS_EXPERIENCE', 'JOB_ROLE', 'JOB_ROLE_COUNT', 'JOB_ROLE_WT', 'WORK_LANG', 'WORK_LANG_COUNT', 'WORK_LANG_WT', 'CS_LANGS', 'CS_LANGS_COUNT', 'CS_LANGS_WT', 'AI_ASST', 'AI_ASST_COUNT', 'AI_ASST_WT', 'AI_FEATURES', 'AI_FEATURES_COUNT', 'AI_FEATURES_WT']
df.shape = (2287701, 22)
Rows: 10
Columns: 22
$ INDEX             <u16> 4652, 17951, 5107, 17545, 14236, 4313, 316, 3177, 8437, 9445
$ COUNTRY           <cat> Bangladesh, United States, India, Greece, Mexico, United States, Nigeria, Indonesia, Austria, India
$ GENDER            <cat> Male, Male, Male, Male, Male, Male, Male, Male, Male, Male
$ AGE_RANGE         <cat> 21–29, 30–39, 18–20, 18–20, 21–29, 21–29, 21–29, 18–20, 21–29, 21–29
$ EDUCATION         <cat> Doctorate, Bachelors, Some College, Some College, Some College, Bachelors, Some College, Bachelors, Some College, Bachelors
$ JOB_LEVEL         <cat> Senior, Middle, None, None, None, Middle, Middle, Junior, None, Senior
$ YEARS_EXPERIENCE  <cat> 6–10, 6–10, 0, 0, <1, 1–2, 3–5, <1, 1–2, 3–5
$ JOB_ROLE          <cat> Developer / Programmer / Software Engineer, Technical Writer, None, None, None, Technical Support, Developer / Programmer / Software Engineer, Developer / Programmer / Software Engineer, None, Instructor / Teacher / Tutor
$ JOB_ROLE_COUNT     <u8> 8, 3, 0, 0, 0, 2, 2, 1, 0, 4
$ JOB_ROLE_WT       <f32> 0.125, 0.3333333432674408, 0.0, 0.0, 0.0, 0.5, 0.5, 1.0, 0.0, 0.25
$ WORK_LANG         <cat> English, English, Hindi, Other, English, English, English, Japanese, German, English
$ WORK_LANG_COUNT    <u8> 2, 1, 2, 2, 2, 1, 1, 2, 6, 1
$ WORK_LANG_WT      <f32> 0.5, 1.0, 0.5, 0.5, 0.5, 1.0, 1.0, 0.5, 0.1666666716337204, 1.0
$ CS_LANGS          <cat> TypeScript, SQL (PL / SQL, T-SQL, and other programming extensions of SQL), HTML / CSS, Python, SQL (PL / SQL, T-SQL, and other programming extensions of SQL), Shell scripting languages (Bash / Shell / PowerShell), JavaScript, Go, Shell scripting languages (Bash / Shell / PowerShell), Scala
$ CS_LANGS_COUNT     <u8> 9, 3, 7, 6, 6, 7, 8, 8, 21, 5
$ CS_LANGS_WT       <f32> 0.1111111119389534, 0.3333333432674408, 0.1428571492433548, 0.1666666716337204, 0.1666666716337204, 0.1428571492433548, 0.125, 0.125, 0.0476190485060215, 0.20000000298023224
$ AI_ASST           <cat> ChatGPT, Google Bard, Soundraw, ChatGPT, Microsoft Bing Chat, GitHub Copilot, JetBrains AI Assistant, ChatGPT, Visual Studio IntelliCode, ChatGPT
$ AI_ASST_COUNT      <u8> 2, 4, 6, 2, 4, 3, 5, 3, 5, 2
$ AI_ASST_WT        <f32> 0.5, 0.25, 0.1666666716337204, 0.5, 0.25, 0.3333333432674408, 0.20000000298023224, 0.3333333432674408, 0.20000000298023224, 0.5
$ AI_FEATURES       <cat> Generating tests, Assistive technologies (for example, AI-powered text-to-speech and speech-to-text tools), Data analytics for educational insights, Refactoring code, Explaining code, Study planning and time management, Refactoring code, Performing code reviews, Language translation and pronunciation, Generating code
$ AI_FEATURES_COUNT  <u8> 9, 6, 15, 11, 8, 6, 6, 19, 15, 2
$ AI_FEATURES_WT    <f32> 0.1111111119389534, 0.1666666716337204, 0.06666667014360428, 0.09090909361839294, 0.125, 0.1666666716337204, 0.1666666716337204, 0.05263157933950424, 0.06666667014360428, 0.5

In [29]:
df['GENDER'].value_counts() #.unique().to_list() # .value_counts().sort('AGE_RANGE') # ['NET_SALARY'].to_list()

shape: (6, 2)
┌─────────────────────────────────┬─────────┐
│ GENDER                          ┆ count   │
│ ---                             ┆ ---     │
│ cat                             ┆ u32     │
╞═════════════════════════════════╪═════════╡
│ null                            ┆ 25206   │
│ Male                            ┆ 1976028 │
│ Non-binary, genderqueer, or ge… ┆ 19015   │
│ Female                          ┆ 241130  │
│ Other                           ┆ 1349    │
│ Prefer not to say               ┆ 24973   │
└─────────────────────────────────┴─────────┘

In [30]:
df.glimpse()

Rows: 2287701
Columns: 22
$ INDEX             <u16> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ COUNTRY           <cat> Italy, Italy, Italy, Italy, Italy, Italy, Italy, Italy, Italy, Italy
$ GENDER            <cat> Male, Male, Male, Male, Male, Male, Male, Male, Male, Male
$ AGE_RANGE         <cat> 60+, 60+, 60+, 60+, 60+, 60+, 60+, 60+, 60+, 60+
$ EDUCATION         <cat> Masters, Masters, Masters, Masters, Masters, Masters, Masters, Masters, Masters, Masters
$ JOB_LEVEL         <cat> Senior, Senior, Senior, Senior, Senior, Senior, Senior, Senior, Senior, Senior
$ YEARS_EXPERIENCE  <cat> 16+, 16+, 16+, 16+, 16+, 16+, 16+, 16+, 16+, 16+
$ JOB_ROLE          <cat> Developer / Programmer / Software Engineer, Developer / Programmer / Software Engineer, Developer / Programmer / Software Engineer, Developer / Programmer / Software Engineer, Developer / Programmer / Software Engineer, Developer / Programmer / Software Engineer, Developer / Programmer / Software Engineer, Developer / Programmer / Software Engineer, Developer / Programmer / Software Engineer, Developer / Programmer / Software Engineer
$ JOB_ROLE_COUNT     <u8> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2
$ JOB_ROLE_WT       <f32> 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5
$ WORK_LANG         <cat> English, English, English, English, English, English, English, English, English, English
$ WORK_LANG_COUNT    <u8> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2
$ WORK_LANG_WT      <f32> 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5
$ CS_LANGS          <cat> Assembly, C, C#, C++, Java, Objective-C, PHP, Rust, Shell scripting languages (Bash / Shell / PowerShell), Swift
$ CS_LANGS_COUNT     <u8> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10
$ CS_LANGS_WT       <f32> 0.10000000149011612, 0.10000000149011612, 0.10000000149011612, 0.10000000149011612, 0.10000000149011612, 0.10000000149011612, 0.10000000149011612, 0.10000000149011612, 0.10000000149011612, 0.10000000149011612
$ AI_ASST           <cat> None, None, None, None, None, None, None, None, None, None
$ AI_ASST_COUNT      <u8> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ AI_ASST_WT        <f32> 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
$ AI_FEATURES       <cat> None, None, None, None, None, None, None, None, None, None
$ AI_FEATURES_COUNT  <u8> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ AI_FEATURES_WT    <f32> 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0