In [4]:
import polars as pl

# print NUMBER OF STUDENTS from pipe, and return the DataFrame unchanged
def log_size(stage: str):
    def inner(df: pl.DataFrame) -> pl.DataFrame:
        print(f'{stage}: {df['NUMBER OF STUDENTS'].sum():,}')
        return df
    return inner

csv_file = 'Class_Size_Report_Distribution_Summary__2010-2015__20250814.csv'
df = (
    pl.read_csv(
    csv_file,
    ignore_errors=True
    )
    .pipe(log_size('No Filter, NUMBER OF STUDENTS'))
    # .drop_nulls(subset='BOROUGH')
    # .pipe(log_size('Remove Nulls from BOROUGH, NUMBER OF STUDENTS'))
    # .drop_nulls(subset='CLASS SIZE')
    # .pipe(log_size('Remove Nulls from CLASS SIZE, NUMBER OF STUDENTS'))
    # .drop_nulls(subset='CORE SUBJECT')
    # .pipe(log_size('Remove Nulls from CORE SUBJECT, NUMBER OF STUDENTS'))
    # .filter(pl.col('REPORT TYPE') == 'Borough')
    # .pipe(log_size('filter REPORT TYPE == BOROUGH, NUMBER OF STUDENTS'))
    .select('SCHOOL YEAR','BOROUGH', 'GRADE LEVEL',
            'CORE SUBJECT','CLASS SIZE','NUMBER OF STUDENTS', 'NUMBER OF CLASSES' )
    .with_columns(
        BOROUGH = pl.col('BOROUGH')
            .str.replace('Q', 'Queens')
            .str.replace('M', 'Manhattan')
            .str.replace('R', 'Staten Island')  # Richmond county
            .str.replace('K', 'Brooklyn')       # Kings County
            .str.replace('X', 'The Bronx')
    )

)
df.write_parquet('NYC_Class_Sizes.parquet')
df.write_excel('NYC_Class_Sizes.xlsx')

No Filter, NUMBER OF STUDENTS: 38,190,266