In [14]:
import polars as pl
import polars.selectors as cs
import plotly.express as px
import os

data_dir = './Provided_Data/'
df_list = []
csv_list =[f for f in os.listdir(data_dir) if f.endswith('csv')]
for file in csv_list:
    print(file)
    df = (
        pl.read_csv(
            f'{data_dir}/{file}',
            schema_overrides={
                'Grade': pl.String,
            },
            ignore_errors=True,
        )
        .rename(    
            lambda c: 
                c.upper()          # all column names to upper case
                .replace(' ', '_') # replace blanks with underscores
                .replace(r'(', '') # replace left parens with blank text
                .replace(r')', '') # replace left parens with blank text
                .replace(r'+', '_') # replace plus signs with underscores
        )
    )
    print(df.columns)
    print(df.sample(2).glimpse())

df_all = (
    pl.concat(df, how='diagonal')
)
# df = (
#     pl.read_csv(
#         'LockerNYC_Reservations_20250903.csv',
#     )
#     .rename(    
#         lambda c: 
#             c.upper()          # all column names to upper case
#             .replace(' ', '_') # replace blanks with underscores
#             .replace(r'(', '') # replace left parens with underscores
#             .replace(r')', '') # replace left parens with underscores
#     )
#     .select(
#         ['TYPE', 'DELIVERED',
#         'RECEIVED',
#         'LOCKER_NAME', 'LOCKER_BOX_DOOR', 'LOCKER_SIZE', 
#         'PICKUP_DURATION', 'DELIVERY_DURATION', 
#         'LOCATION_TYPE', 'ADDRESS', 'LATITUDE', 'LONGITUDE', 
#         'BOROUGH',
#         'RECEIVE_DATE', 'CREATED_DATE', 'DELIVERY_DATE', 'WITHDRAW_DATE', 'EXPIRE_DATE',
#         ],
#     )
#     .with_columns(cs.ends_with('_DATE').str.to_datetime(format="%m/%d/%Y %H:%M"))
#     .with_columns(ZIP_CODE = pl.col('ADDRESS').str.split(' ').list.last())
#     .with_columns(ADDRESS = pl.col('ADDRESS').str.split(',').list.first())
# )
# print(df.sample(3))

2006-2011_NYS_Math_Test_Results_By_Grade_-_Boro_-_By_Race-_Ethnicity.csv
['BOROUGH', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ BOROUGH          <str> 'STATEN ISLAND', 'QUEENS'
$ GRADE            <str> '3', '7'
$ YEAR             <i64> 2006, 2006
$ CATEGORY         <str> 'White', 'Asian'
$ NUMBER_TESTED    <i64> 2426, 5139
$ MEAN_SCALE_SCORE <i64> 693, 672
$ LEVEL_1_#        <i64> 91, 259
$ LEVEL_1_%        <f64> 3.8, 5.0
$ LEVEL_2_#        <i64> 161, 952
$ LEVEL_2_%        <f64> 6.6, 18.5
$ LEVEL_3_#        <i64> 1167, 2508
$ LEVEL_3_%        <f64> 48.1, 48.8
$ LEVEL_4_#        <i64> 1007, 1420
$ LEVEL_4_%        <f64> 41.5, 27.6
$ LEVEL_3_4_#      <i64> 2174, 3928
$ LEVEL_3_4_%      <f64> 89.6, 76.4

None
2006-2011_NYS_Math_Test_Results_by_Grade_-_Citywide_-_by_Gender.csv
['GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 15
$ GRADE            <str> '4', '7'
$ YEAR             <i64> 2006, 2010
$ CATEGORY         <str> 'Male', 'Female'
$ NUMBER_TESTED    <i64> 37214, 34117
$ MEAN_SCALE_SCORE <i64> 670, 673
$ LEVEL_1_#        <i64> 4172, 3748
$ LEVEL_1_%        <f64> 11.2, 11.0
$ LEVEL_2_#        <i64> 6599, 11694
$ LEVEL_2_%        <f64> 17.7, 34.3
$ LEVEL_3_#        <i64> 18114, 10295
$ LEVEL_3_%        <f64> 48.7, 30.2
$ LEVEL_4_#        <i64> 8329, 8380
$ LEVEL_4_%        <f64> 22.4, 24.6
$ LEVEL_3_4_#      <i64> 26443, 18675
$ LEVEL_3_4_%      <f64> 71.1, 54.7

None
2006-2012_Math_Test_Results_-_Citywide_-_Gender.csv
['GRADE', 'YEAR', 'DEMOGRAPHIC', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'NUM_LEVEL_1', 'PCT_LEVEL_1', 'NUM_LEVEL_2', 'PCT_LEVEL_2', 'NUM_LEVEL_3', 'PCT_LEVEL_3', 'NUM_LEVEL_4', 'PCT_LEVEL_4', 'NUM_LEVEL_3_AND_4', 'PCT_LEVEL_3_AND_4']
Rows: 2
Columns: 15
$ GRADE             <str> '6', '3'
$ YEAR              <i64> 2009, 2007
$ DEMOGRAPHIC       <str> 'Male', 'Male'
$ NUMBER_TESTED     <i64> 35710, 36923
$ MEAN_SCALE_SCORE  <i64> 673, 682
$ NUM_LEVEL_1       <i64> 2220, 2301
$ PCT_LEVEL_1       <f64> 6.2, 6.2
$ NUM_LEVEL_2       <i64> 6812, 4564
$ PCT_LEVEL_2       <f64> 19.1, 12.4
$ NUM_LEVEL_3       <i64> 18157, 19547
$ PCT_LEVEL_3       <f64> 50.8, 52.9
$ NUM_LEVEL_4       <i64> 8521, 10511
$ PCT_LEVEL_4       <f64> 23.9, 28.5
$ NUM_LEVEL_3_AND_4 <i64> 26678, 30058
$ PCT_LEVEL_3_AND_4 <f64> 74.7, 81.4

None
2006-2012_Math_Test_Results_-_School_-_Ethnicity.csv
['DBN', 'GRADE', 'YEAR', 'DEMOGRAPHIC', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'NUM_LEVEL_1', 'PCT_LEVEL_1', 'NUM_LEVEL_2', 'PCT_LEVEL_2', 'NUM_LEVEL_3', 'PCT_LEVEL_3', 'NUM_LEVEL_4', 'PCT_LEVEL_4', 'NUM_LEVEL_3_AND_4', 'PCT_LEVEL_3_AND_4']
Rows: 2
Columns: 16
$ DBN               <str> '07X369', '17K189'
$ GRADE             <str> '4', '4'
$ YEAR              <i64> 2012, 2011
$ DEMOGRAPHIC       <str> 'Hispanic', 'Hispanic'
$ NUMBER_TESTED     <i64> 39, 33
$ MEAN_SCALE_SCORE  <str> '660', '677'
$ NUM_LEVEL_1       <str> '8', '4'
$ PCT_LEVEL_1       <str> '20.5', '12.1'
$ NUM_LEVEL_2       <str> '15', '10'
$ PCT_LEVEL_2       <str> '38.5', '30.3'
$ NUM_LEVEL_3       <str> '12', '13'
$ PCT_LEVEL_3       <str> '30.8', '39.4'
$ NUM_LEVEL_4       <str> '4', '6'
$ PCT_LEVEL_4       <str> '10.3', '18.2'
$ NUM_LEVEL_3_AND_4 <str> '16', '19'
$ PCT_LEVEL_3_AND_4 <str> '41', '57.6'

None
2006_-_2011_NYS_Math_Test_Results_By_Grade-_School_Level_-_By_English_Proficiency_Status.csv
['DBN', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ DBN              <str> '75Q993', '21K099'
$ GRADE            <str> '7', '3'
$ YEAR             <i64> 2010, 2010
$ CATEGORY         <str> 'EP', 'EP'
$ NUMBER_TESTED    <i64> 1, 56
$ MEAN_SCALE_SCORE <i64> None, 714
$ LEVEL_1_#        <str> 's', '0'
$ LEVEL_1_%        <f64> None, 0.0
$ LEVEL_2_#        <str> 's', '10'
$ LEVEL_2_%        <f64> None, 17.9
$ LEVEL_3_#        <str> 's', '19'
$ LEVEL_3_%        <f64> None, 33.9
$ LEVEL_4_#        <str> 's', '27'
$ LEVEL_4_%        <f64> None, 48.2
$ LEVEL_3_4_#      <str> 's', '46'
$ LEVEL_3_4_%      <f64> None, 82.1

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_Boro_-_All_Students.csv
['BOROUGH', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ BOROUGH          <str> 'MANHATTAN', 'MANHATTAN'
$ GRADE            <str> '5', '4'
$ YEAR             <i64> 2008, 2007
$ CATEGORY         <str> 'All Students', 'All Students'
$ NUMBER_TESTED    <i64> 8914, 9328
$ MEAN_SCALE_SCORE <i64> 675, 674
$ LEVEL_1_#        <i64> 512, 793
$ LEVEL_1_%        <f64> 5.7, 8.5
$ LEVEL_2_#        <i64> 1573, 1859
$ LEVEL_2_%        <f64> 17.6, 19.9
$ LEVEL_3_#        <i64> 4564, 4433
$ LEVEL_3_%        <f64> 51.2, 47.5
$ LEVEL_4_#        <i64> 2265, 2243
$ LEVEL_4_%        <f64> 25.4, 24.0
$ LEVEL_3_4_#      <i64> 6829, 6676
$ LEVEL_3_4_%      <f64> 76.6, 71.6

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_Boro_-_By_Disability_Status.csv
['BOROUGH', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ BOROUGH          <str> 'BRONX', 'BROOKLYN'
$ GRADE            <str> '5', '5'
$ YEAR             <i64> 2010, 2008
$ CATEGORY         <str> 'General Ed', 'General Ed'
$ NUMBER_TESTED    <i64> 12034, 18209
$ MEAN_SCALE_SCORE <i64> 679, 683
$ LEVEL_1_#        <i64> 786, 423
$ LEVEL_1_%        <f64> 6.5, 2.3
$ LEVEL_2_#        <i64> 4615, 2263
$ LEVEL_2_%        <f64> 38.3, 12.4
$ LEVEL_3_#        <i64> 4617, 10278
$ LEVEL_3_%        <f64> 38.4, 56.4
$ LEVEL_4_#        <i64> 2016, 5245
$ LEVEL_4_%        <f64> 16.8, 28.8
$ LEVEL_3_4_#      <i64> 6633, 15523
$ LEVEL_3_4_%      <f64> 55.1, 85.2

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_Boro_-_By_Gender.csv
['BOROUGH', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ BOROUGH          <str> 'MANHATTAN', 'MANHATTAN'
$ GRADE            <str> '4', 'All Grades'
$ YEAR             <i64> 2010, 2007
$ CATEGORY         <str> 'Female', 'Male'
$ NUMBER_TESTED    <i64> 4518, 29300
$ MEAN_SCALE_SCORE <i64> 687, 662
$ LEVEL_1_#        <i64> 284, 3498
$ LEVEL_1_%        <f64> 6.3, 11.9
$ LEVEL_2_#        <i64> 1539, 7501
$ LEVEL_2_%        <f64> 34.1, 25.6
$ LEVEL_3_#        <i64> 1451, 13137
$ LEVEL_3_%        <f64> 32.1, 44.8
$ LEVEL_4_#        <i64> 1244, 5164
$ LEVEL_4_%        <f64> 27.5, 17.6
$ LEVEL_3_4_#      <i64> 2695, 18301
$ LEVEL_3_4_%      <f64> 59.7, 62.5

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_Boro_-__Proficiency_Status.csv
['BOROUGH', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ BOROUGH          <str> 'STATEN ISLAND', 'QUEENS'
$ GRADE            <str> '5', '5'
$ YEAR             <i64> 2007, 2009
$ CATEGORY         <str> 'EP', 'ELL'
$ NUMBER_TESTED    <i64> 4141, 2684
$ MEAN_SCALE_SCORE <i64> 682, 669
$ LEVEL_1_#        <i64> 133, 117
$ LEVEL_1_%        <f64> 3.2, 4.4
$ LEVEL_2_#        <i64> 515, 543
$ LEVEL_2_%        <f64> 12.4, 20.2
$ LEVEL_3_#        <i64> 2294, 1557
$ LEVEL_3_%        <f64> 55.4, 58.0
$ LEVEL_4_#        <i64> 1199, 467
$ LEVEL_4_%        <f64> 29.0, 17.4
$ LEVEL_3_4_#      <i64> 3493, 2024
$ LEVEL_3_4_%      <f64> 84.4, 75.4

None
2006_-_2011_NYS_Math_Test_Results_by_Grade_-_Citywide_-_All_Students.csv
['GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 15
$ GRADE            <str> '5', '7'
$ YEAR             <i64> 2008, 2010
$ CATEGORY         <str> 'All Students', 'All Students'
$ NUMBER_TESTED    <i64> 70005, 70362
$ MEAN_SCALE_SCORE <i64> 677, 671
$ LEVEL_1_#        <i64> 3518, 8403
$ LEVEL_1_%        <f64> 5.0, 11.9
$ LEVEL_2_#        <i64> 11053, 24915
$ LEVEL_2_%        <f64> 15.8, 35.4
$ LEVEL_3_#        <i64> 37791, 20723
$ LEVEL_3_%        <f64> 54.0, 29.5
$ LEVEL_4_#        <i64> 17643, 16321
$ LEVEL_4_%        <f64> 25.2, 23.2
$ LEVEL_3_4_#      <i64> 55434, 37044
$ LEVEL_3_4_%      <f64> 79.2, 52.6

None
2006_-_2011_NYS_Math_Test_Results_by_Grade_-_Citywide_-_by_Disability_Status.csv
['GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 15
$ GRADE            <str> '4', '7'
$ YEAR             <i64> 2010, 2009
$ CATEGORY         <str> 'General Ed', 'General Ed'
$ NUMBER_TESTED    <i64> 58890, 58040
$ MEAN_SCALE_SCORE <i64> 690, 680
$ LEVEL_1_#        <i64> 2284, 484
$ LEVEL_1_%        <f64> 3.9, 0.8
$ LEVEL_2_#        <i64> 18423, 6845
$ LEVEL_2_%        <f64> 31.3, 11.8
$ LEVEL_3_#        <i64> 21569, 34936
$ LEVEL_3_%        <f64> 36.6, 60.2
$ LEVEL_4_#        <i64> 16614, 15775
$ LEVEL_4_%        <f64> 28.2, 27.2
$ LEVEL_3_4_#      <i64> 38183, 50711
$ LEVEL_3_4_%      <f64> 64.8, 87.4

None
2006_-_2011_NYS_Math_Test_Results_by_Grade_-_Citywide_-_by_Race-Ethnicity.csv
['GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 15
$ GRADE            <str> '3', '6'
$ YEAR             <i64> 2007, 2010
$ CATEGORY         <str> 'White', 'Black'
$ NUMBER_TESTED    <i64> 10304, 21092
$ MEAN_SCALE_SCORE <i64> 700, 665
$ LEVEL_1_#        <i64> 254, 3354
$ LEVEL_1_%        <f64> 2.5, 15.9
$ LEVEL_2_#        <i64> 491, 9385
$ LEVEL_2_%        <f64> 4.8, 44.5
$ LEVEL_3_#        <i64> 4817, 5810
$ LEVEL_3_%        <f64> 46.7, 27.5
$ LEVEL_4_#        <i64> 4742, 2543
$ LEVEL_4_%        <f64> 46.0, 12.1
$ LEVEL_3_4_#      <i64> 9559, 8353
$ LEVEL_3_4_%      <f64> 92.8, 39.6

None
2006_-_2011_NYS_Math_Test_Results_by_Grade_-_Citywide_-_Proficiency_Status.csv
['GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 15
$ GRADE            <str> '3', '8'
$ YEAR             <i64> 2006, 2010
$ CATEGORY         <str> 'EP', 'ELL'
$ NUMBER_TESTED    <i64> 59571, 9165
$ MEAN_SCALE_SCORE <i64> 679, 657
$ LEVEL_1_#        <i64> 4278, 2325
$ LEVEL_1_%        <f64> 7.2, 25.4
$ LEVEL_2_#        <i64> 7994, 4424
$ LEVEL_2_%        <f64> 13.4, 48.3
$ LEVEL_3_#        <i64> 30595, 1864
$ LEVEL_3_%        <f64> 51.4, 20.3
$ LEVEL_4_#        <i64> 16704, 552
$ LEVEL_4_%        <f64> 28.0, 6.0
$ LEVEL_3_4_#      <i64> 47299, 2416
$ LEVEL_3_4_%      <f64> 79.4, 26.4

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_District_-_By_Disability_Status.csv
['DISTRICT', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ DISTRICT         <i64> 16, 17
$ GRADE            <str> '6', '8'
$ YEAR             <i64> 2010, 2010
$ CATEGORY         <str> 'Special Ed', 'General Ed'
$ NUMBER_TESTED    <i64> 201, 1832
$ MEAN_SCALE_SCORE <i64> 639, 668
$ LEVEL_1_#        <i64> 88, 210
$ LEVEL_1_%        <f64> 43.8, 11.5
$ LEVEL_2_#        <i64> 89, 914
$ LEVEL_2_%        <f64> 44.3, 49.9
$ LEVEL_3_#        <i64> 21, 526
$ LEVEL_3_%        <f64> 10.4, 28.7
$ LEVEL_4_#        <i64> 3, 182
$ LEVEL_4_%        <f64> 1.5, 9.9
$ LEVEL_3_4_#      <i64> 24, 708
$ LEVEL_3_4_%      <f64> 11.9, 38.6

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_District_-_By_English_Proficiency_Status.csv
['DISTRICT', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ DISTRICT         <i64> 17, 23
$ GRADE            <str> '5', '5'
$ YEAR             <i64> 2010, 2011
$ CATEGORY         <str> 'ELL', 'EP'
$ NUMBER_TESTED    <i64> 186, 926
$ MEAN_SCALE_SCORE <i64> 661, 669
$ LEVEL_1_#        <i64> 36, 122
$ LEVEL_1_%        <f64> 19.4, 13.2
$ LEVEL_2_#        <i64> 91, 399
$ LEVEL_2_%        <f64> 48.9, 43.1
$ LEVEL_3_#        <i64> 45, 322
$ LEVEL_3_%        <f64> 24.2, 34.8
$ LEVEL_4_#        <i64> 14, 83
$ LEVEL_4_%        <f64> 7.5, 9.0
$ LEVEL_3_4_#      <i64> 59, 405
$ LEVEL_3_4_%      <f64> 31.7, 43.7

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_District_-_By_Gender.csv
['DISTRICT', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ DISTRICT         <i64> 2, 19
$ GRADE            <str> '4', '6'
$ YEAR             <i64> 2010, 2011
$ CATEGORY         <str> 'Male', 'Female'
$ NUMBER_TESTED    <i64> 1310, 956
$ MEAN_SCALE_SCORE <i64> 706, 674
$ LEVEL_1_#        <i64> 53, 107
$ LEVEL_1_%        <f64> 4.0, 11.2
$ LEVEL_2_#        <i64> 192, 365
$ LEVEL_2_%        <f64> 14.7, 38.2
$ LEVEL_3_#        <i64> 417, 305
$ LEVEL_3_%        <f64> 31.8, 31.9
$ LEVEL_4_#        <i64> 648, 179
$ LEVEL_4_%        <f64> 49.5, 18.7
$ LEVEL_3_4_#      <i64> 1065, 484
$ LEVEL_3_4_%      <f64> 81.3, 50.6

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_District_-_By_Race-_Ethnicity.csv
['DISTRICT', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ DISTRICT         <i64> 20, 9
$ GRADE            <str> '6', 'All Grades'
$ YEAR             <i64> 2011, 2009
$ CATEGORY         <str> 'Hispanic', 'White'
$ NUMBER_TESTED    <i64> 878, 86
$ MEAN_SCALE_SCORE <i64> 670, 664
$ LEVEL_1_#        <i64> 116, 5
$ LEVEL_1_%        <f64> 13.2, 5.8
$ LEVEL_2_#        <i64> 341, 19
$ LEVEL_2_%        <f64> 38.8, 22.1
$ LEVEL_3_#        <i64> 297, 56
$ LEVEL_3_%        <f64> 33.8, 65.1
$ LEVEL_4_#        <i64> 124, 6
$ LEVEL_4_%        <f64> 14.1, 7.0
$ LEVEL_3_4_#      <i64> 421, 62
$ LEVEL_3_4_%      <f64> 47.9, 72.1

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_School_Level_-_All_Students.csv
['DBN', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ DBN              <str> '29Q135', '09X132'
$ GRADE            <str> '4', '4'
$ YEAR             <i64> 2008, 2008
$ CATEGORY         <str> 'All Students', 'All Students'
$ NUMBER_TESTED    <i64> 192, 86
$ MEAN_SCALE_SCORE <i64> 681, 659
$ LEVEL_1_#        <i64> 9, 14
$ LEVEL_1_%        <f64> 4.7, 16.3
$ LEVEL_2_#        <i64> 22, 17
$ LEVEL_2_%        <f64> 11.5, 19.8
$ LEVEL_3_#        <i64> 119, 45
$ LEVEL_3_%        <f64> 62.0, 52.3
$ LEVEL_4_#        <i64> 42, 10
$ LEVEL_4_%        <f64> 21.9, 11.6
$ LEVEL_3_4_#      <i64> 161, 55
$ LEVEL_3_4_%      <f64> 83.9, 64.0

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_School_Level_-_By_Disability_Status.csv
['DBN', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ DBN              <str> '05M302', '27Q108'
$ GRADE            <str> '6', '4'
$ YEAR             <i64> 2008, 2008
$ CATEGORY         <str> 'General Ed', 'Special Ed'
$ NUMBER_TESTED    <i64> 72, 12
$ MEAN_SCALE_SCORE <i64> 669, 660
$ LEVEL_1_#        <i64> 1, 2
$ LEVEL_1_%        <f64> 1.4, 16.7
$ LEVEL_2_#        <i64> 14, 3
$ LEVEL_2_%        <f64> 19.4, 25.0
$ LEVEL_3_#        <i64> 46, 5
$ LEVEL_3_%        <f64> 63.9, 41.7
$ LEVEL_4_#        <i64> 11, 2
$ LEVEL_4_%        <f64> 15.3, 16.7
$ LEVEL_3_4_#      <i64> 57, 7
$ LEVEL_3_4_%      <f64> 79.2, 58.3

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_School_Level_-_By_Gender.csv
['DBN', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ DBN              <str> '05M161', '75M169'
$ GRADE            <str> '3', '4'
$ YEAR             <i64> 2010, 2007
$ CATEGORY         <str> 'Female', 'Male'
$ NUMBER_TESTED    <i64> 51, 15
$ MEAN_SCALE_SCORE <i64> 680, 612
$ LEVEL_1_#        <i64> 6, 9
$ LEVEL_1_%        <f64> 11.8, 60.0
$ LEVEL_2_#        <i64> 28, 4
$ LEVEL_2_%        <f64> 54.9, 26.7
$ LEVEL_3_#        <i64> 14, 2
$ LEVEL_3_%        <f64> 27.5, 13.3
$ LEVEL_4_#        <i64> 3, 0
$ LEVEL_4_%        <f64> 5.9, 0.0
$ LEVEL_3_4_#      <i64> 17, 2
$ LEVEL_3_4_%      <f64> 33.3, 13.3

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_-_School_Level_-_By_Race-_Ethnicity.csv
['DBN', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ DBN              <str> '22K119', '09X241'
$ GRADE            <str> 'All Grades', '6'
$ YEAR             <i64> 2007, 2007
$ CATEGORY         <str> 'Black', 'White'
$ NUMBER_TESTED    <i64> 283, 1
$ MEAN_SCALE_SCORE <i64> None, None
$ LEVEL_1_#        <str> '3', 's'
$ LEVEL_1_%        <f64> 1.1, None
$ LEVEL_2_#        <str> '36', 's'
$ LEVEL_2_%        <f64> 12.7, None
$ LEVEL_3_#        <str> '181', 's'
$ LEVEL_3_%        <f64> 64.0, None
$ LEVEL_4_#        <str> '63', 's'
$ LEVEL_4_%        <f64> 22.3, None
$ LEVEL_3_4_#      <str> '244', 's'
$ LEVEL_3_4_%      <f64> 86.2, None

None
2006_-_2011_NYS_Math_Test_Results_By_Grade_2006-2011_-_District_-_All_Students.csv
['DISTRICT', 'GRADE', 'YEAR', 'CATEGORY', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'LEVEL_1_#', 'LEVEL_1_%', 'LEVEL_2_#', 'LEVEL_2_%', 'LEVEL_3_#', 'LEVEL_3_%', 'LEVEL_4_#', 'LEVEL_4_%', 'LEVEL_3_4_#', 'LEVEL_3_4_%']
Rows: 2
Columns: 16
$ DISTRICT         <i64> 30, 1
$ GRADE            <str> '6', '6'
$ YEAR             <i64> 2007, 2008
$ CATEGORY         <str> 'All Students', 'All Students'
$ NUMBER_TESTED    <i64> 3208, 869
$ MEAN_SCALE_SCORE <i64> 672, 672
$ LEVEL_1_#        <i64> 231, 79
$ LEVEL_1_%        <f64> 7.2, 9.1
$ LEVEL_2_#        <i64> 600, 169
$ LEVEL_2_%        <f64> 18.7, 19.4
$ LEVEL_3_#        <i64> 1604, 377
$ LEVEL_3_%        <f64> 50.0, 43.4
$ LEVEL_4_#        <i64> 773, 244
$ LEVEL_4_%        <f64> 24.1, 28.1
$ LEVEL_3_4_#      <i64> 2377, 621
$ LEVEL_3_4_%      <f64> 74.1, 71.5

None
2006_-_2012_Math_Test_Results_-_Borough_-_All_Students.csv
['BOROUGH', 'GRADE', 'YEAR', 'DEMOGRAPHIC', 'NUMBER_TESTED', 'MEAN_SCALE_SCORE', 'NUM_LEVEL_1', 'PCT_LEVEL_1', 'NUM_LEVEL_2', 'PCT_LEVEL_2', 'NUM_LEVEL_3', 'PCT_LEVEL_3', 'NUM_LEVEL_4', 'PCT_LEVEL_4', 'NUM_LEVEL_3_AND_4', 'PCT_LEVEL_3_AND_4']
Rows: 2
Columns: 16
$ BOROUGH           <str> 'QUEENS', 'STATEN ISLAND'
$ GRADE             <str> '3', '4'
$ YEAR              <i64> 2010, 2011
$ DEMOGRAPHIC       <str> 'All Students', 'All Students'
$ NUMBER_TESTED     <i64> 20083, 4425

ValueError: Series only supports 'vertical' concat strategy

In [ ]:
(
    df
    .filter(pl.col('CREATED_DATE') != pl.col('RECEIVE_DATE'))
    .filter(pl.col('PICKUP_DURATION').is_not_null())
    .sample(10)
    .glimpse()
)

In [ ]:
(
    df
    .filter(pl.col('CREATED_DATE') != pl.col('RECEIVE_DATE'))
    .filter(pl.col('PICKUP_DURATION').is_not_null())
    .select('CREATED_DATE', 'DELIVERY_DATE', 'RECEIVE_DATE','WITHDRAW_DATE', 'EXPIRE_DATE' )
    .sample(5)
    .transpose(include_header=True)
    .sort('column_0')
)



# .str.strptime(pl.Datetime, fmt="%m/%d/%Y %H:%M")

In [ ]:
for c in df.columns:
    print(
        c, 
        df[c]
        .value_counts()
        .with_columns(
            PCT = (100*pl.col('count')/pl.col('count').sum()).cast(pl.Float32)
        )
    )

In [ ]:
print(list(df.columns))
print()

In [ ]:
print(sorted(list(set(df['BOROUGH']))))

In [ ]:
fig = px.scatter_map(
    df,
    lat = 'LATITUDE',
    lon = 'LONGITUDE',
    color='BOROUGH'
)
fig.show()

In [ ]:
group_by_cols = ['LOCKER_NAME', 'ADDRESS', 'LOCATION_TYPE', 'LATITUDE', 'LONGITUDE', 'BOROUGH']
df_group_by = (
    df
    .group_by(group_by_cols).len()
    .rename({'len':  'COUNT'})
    .sort('COUNT')
)
df_group_by
# df_group_by['len'].sum()

In [ ]:
df.columns