In [1]:
import polars as pl
pl.Config().set_tbl_rows(30)

polars.config.Config

In [2]:
df_cpi = (
    pl.read_csv('CPI2024.csv')
    .select(
        COUNTRY = pl.col('Country / Territory'),
        ISO3 = pl.col('ISO3'), # no mods to ISO3 column
        REGION = pl.col('Region'),
        CPI_2024 = pl.col('CPI 2024 score'),
        RANK_2024= pl.col('Rank'),
        STD_ERR_2024 = pl.col('standard error 2024')
    )
    .with_columns(
        REG_MED = pl.col('CPI_2024').median().over('REGION'),
        REG_RANK_MED = pl.col('RANK_2024').median().over('REGION'),
    )
)
print(df_cpi.columns)
df_cpi

['COUNTRY', 'ISO3', 'REGION', 'CPI_2024', 'RANK_2024', 'STD_ERR_2024', 'REG_MED', 'REG_RANK_MED']

shape: (180, 8)
┌───────────────────┬──────┬────────┬──────────┬───────────┬──────────────┬─────────┬──────────────┐
│ COUNTRY           ┆ ISO3 ┆ REGION ┆ CPI_2024 ┆ RANK_2024 ┆ STD_ERR_2024 ┆ REG_MED ┆ REG_RANK_MED │
│ ---               ┆ ---  ┆ ---    ┆ ---      ┆ ---       ┆ ---          ┆ ---     ┆ ---          │
│ str               ┆ str  ┆ str    ┆ i64      ┆ i64       ┆ f64          ┆ f64     ┆ f64          │
╞═══════════════════╪══════╪════════╪══════════╪═══════════╪══════════════╪═════════╪══════════════╡
│ Denmark           ┆ DNK  ┆ WE/EU  ┆ 90       ┆ 1         ┆ 1.98         ┆ 63.0    ┆ 32.0         │
│ Finland           ┆ FIN  ┆ WE/EU  ┆ 88       ┆ 2         ┆ 1.83         ┆ 63.0    ┆ 32.0         │
│ Singapore         ┆ SGP  ┆ AP     ┆ 84       ┆ 3         ┆ 1.48         ┆ 38.0    ┆ 96.0         │
│ New Zealand       ┆ NZL  ┆ AP     ┆ 83       ┆ 4         ┆ 1.77         ┆ 38.0    ┆ 96.0         │
│ Luxembourg        ┆ LUX  ┆ WE/EU  ┆ 81       ┆ 5         ┆ 2.0          ┆ 63.0    ┆ 32.0         │
│ Norway            ┆ NOR  ┆ WE/EU  ┆ 81       ┆ 5         ┆ 1.65         ┆ 63.0    ┆ 32.0         │
│ Switzerland       ┆ CHE  ┆ WE/EU  ┆ 81       ┆ 5         ┆ 1.81         ┆ 63.0    ┆ 32.0         │
│ Sweden            ┆ SWE  ┆ WE/EU  ┆ 80       ┆ 8         ┆ 2.48         ┆ 63.0    ┆ 32.0         │
│ Netherlands       ┆ NLD  ┆ WE/EU  ┆ 78       ┆ 9         ┆ 2.34         ┆ 63.0    ┆ 32.0         │
│ Australia         ┆ AUS  ┆ AP     ┆ 77       ┆ 10        ┆ 1.67         ┆ 38.0    ┆ 96.0         │
│ Iceland           ┆ ISL  ┆ WE/EU  ┆ 77       ┆ 10        ┆ 2.6          ┆ 63.0    ┆ 32.0         │
│ Ireland           ┆ IRL  ┆ WE/EU  ┆ 77       ┆ 10        ┆ 1.55         ┆ 63.0    ┆ 32.0         │
│ Estonia           ┆ EST  ┆ WE/EU  ┆ 76       ┆ 13        ┆ 1.09         ┆ 63.0    ┆ 32.0         │
│ Uruguay           ┆ URY  ┆ AME    ┆ 76       ┆ 13        ┆ 1.46         ┆ 39.0    ┆ 92.0         │
│ Canada            ┆ CAN  ┆ AME    ┆ 75       ┆ 15        ┆ 1.95         ┆ 39.0    ┆ 92.0         │
│ …                 ┆ …    ┆ …      ┆ …        ┆ …         ┆ …            ┆ …       ┆ …            │
│ Burundi           ┆ BDI  ┆ SSA    ┆ 17       ┆ 165       ┆ 3.37         ┆ 31.0    ┆ 127.0        │
│ Turkmenistan      ┆ TKM  ┆ ECA    ┆ 17       ┆ 165       ┆ 0.89         ┆ 35.0    ┆ 105.0        │
│ Haiti             ┆ HTI  ┆ AME    ┆ 16       ┆ 168       ┆ 2.13         ┆ 39.0    ┆ 92.0         │
│ Myanmar           ┆ MMR  ┆ AP     ┆ 16       ┆ 168       ┆ 2.01         ┆ 38.0    ┆ 96.0         │
│ Korea, North      ┆ PRK  ┆ AP     ┆ 15       ┆ 170       ┆ 4.12         ┆ 38.0    ┆ 96.0         │
│ Sudan             ┆ SDN  ┆ SSA    ┆ 15       ┆ 170       ┆ 1.9          ┆ 31.0    ┆ 127.0        │
│ Nicaragua         ┆ NIC  ┆ AME    ┆ 14       ┆ 172       ┆ 1.44         ┆ 39.0    ┆ 92.0         │
│ Equatorial Guinea ┆ GNQ  ┆ SSA    ┆ 13       ┆ 173       ┆ 2.54         ┆ 31.0    ┆ 127.0        │
│ Eritrea           ┆ ERI  ┆ SSA    ┆ 13       ┆ 173       ┆ 5.51         ┆ 31.0    ┆ 127.0        │
│ Libya             ┆ LBY  ┆ MENA   ┆ 13       ┆ 173       ┆ 2.63         ┆ 38.0    ┆ 95.5         │
│ Yemen             ┆ YEM  ┆ MENA   ┆ 13       ┆ 173       ┆ 1.72         ┆ 38.0    ┆ 95.5         │
│ Syria             ┆ SYR  ┆ MENA   ┆ 12       ┆ 177       ┆ 1.83         ┆ 38.0    ┆ 95.5         │
│ Venezuela         ┆ VEN  ┆ AME    ┆ 10       ┆ 178       ┆ 1.27         ┆ 39.0    ┆ 92.0         │
│ Somalia           ┆ SOM  ┆ SSA    ┆ 9        ┆ 179       ┆ 2.3          ┆ 31.0    ┆ 127.0        │
│ South Sudan       ┆ SSD  ┆ SSA    ┆ 8        ┆ 180       ┆ 2.09         ┆ 31.0    ┆ 127.0        │
└───────────────────┴──────┴────────┴──────────┴───────────┴──────────────┴─────────┴──────────────┘

In [3]:
df_historical = (
    pl.read_csv('CPI-historical.csv')
    .select(
        COUNTRY = pl.col('Country / Territory'),
        ISO3 = pl.col('ISO3'), # no mods to ISO3 column
        YEAR = pl.col('Year'),
        REGION = pl.col('Region'),
        CPI_SCORE = pl.col('CPI score'),
        RANK= pl.col('Rank'),
        STD_ERR = pl.col('Standard error')
    )
    .with_columns(
        COUNTRY_MED = pl.col('CPI_SCORE').median().over('COUNTRY'),
        REGIONAL_MED = pl.col('CPI_SCORE').median().over('REGION'),
    )
)
print(df_historical.columns)
df_historical.filter(pl.col('COUNTRY') == 'Iran')

['COUNTRY', 'ISO3', 'YEAR', 'REGION', 'CPI_SCORE', 'RANK', 'STD_ERR', 'COUNTRY_MED', 'REGIONAL_MED']

shape: (13, 9)
┌─────────┬──────┬──────┬────────┬───┬──────┬─────────┬─────────────┬──────────────┐
│ COUNTRY ┆ ISO3 ┆ YEAR ┆ REGION ┆ … ┆ RANK ┆ STD_ERR ┆ COUNTRY_MED ┆ REGIONAL_MED │
│ ---     ┆ ---  ┆ ---  ┆ ---    ┆   ┆ ---  ┆ ---     ┆ ---         ┆ ---          │
│ str     ┆ str  ┆ i64  ┆ str    ┆   ┆ i64  ┆ f64     ┆ f64         ┆ f64          │
╞═════════╪══════╪══════╪════════╪═══╪══════╪═════════╪═════════════╪══════════════╡
│ Iran    ┆ IRN  ┆ 2012 ┆ MENA   ┆ … ┆ 133  ┆ 4.6     ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2013 ┆ MENA   ┆ … ┆ 144  ┆ 3.9     ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2014 ┆ MENA   ┆ … ┆ 136  ┆ 4.72    ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2015 ┆ MENA   ┆ … ┆ 130  ┆ 3.28    ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2016 ┆ MENA   ┆ … ┆ 131  ┆ 2.47    ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2017 ┆ MENA   ┆ … ┆ 130  ┆ 3.51    ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2018 ┆ MENA   ┆ … ┆ 138  ┆ 2.89    ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2019 ┆ MENA   ┆ … ┆ 146  ┆ 3.63    ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2020 ┆ MENA   ┆ … ┆ 149  ┆ 2.56    ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2021 ┆ MENA   ┆ … ┆ 150  ┆ 2.29    ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2022 ┆ MENA   ┆ … ┆ 147  ┆ 2.32    ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2023 ┆ MENA   ┆ … ┆ 149  ┆ 2.63    ┆ 26.0        ┆ 39.0         │
│ Iran    ┆ IRN  ┆ 2024 ┆ MENA   ┆ … ┆ 151  ┆ 2.22    ┆ 26.0        ┆ 39.0         │
└─────────┴──────┴──────┴────────┴───┴──────┴─────────┴─────────────┴──────────────┘

In [4]:
df_historical['REGION'].value_counts() #.sort('Year')

shape: (6, 2)
┌────────┬───────┐
│ REGION ┆ count │
│ ---    ┆ ---   │
│ str    ┆ u32   │
╞════════╪═══════╡
│ MENA   ┆ 234   │
│ SSA    ┆ 630   │
│ AP     ┆ 388   │
│ AME    ┆ 410   │
│ ECA    ┆ 247   │
│ WE/EU  ┆ 403   │
└────────┴───────┘

In [14]:
(
    set(df_cpi['COUNTRY']) - 
    set(df_historical['COUNTRY'])
)

{'Korea, North', 'Korea, South', 'United States'}

In [15]:
(
    set(df_historical['COUNTRY']) - 
    set(df_cpi['COUNTRY'])
)

{'Brunei Darussalam',
 'North Korea',
 'Puerto Rico',
 'South Korea',
 'United States of America'}

In [6]:
[t for t in range(400, 1000, 100)]

[400, 500, 600, 700, 800, 900]

In [7]:
[t for t in range(1000, 11000, 1000)]

[1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000]

In [8]:
[t for t in range(400, 1000, 100)] +  [t for t in range(1000, 11000, 1000)]

[400,
 500,
 600,
 700,
 800,
 900,
 1000,
 2000,
 3000,
 4000,
 5000,
 6000,
 7000,
 8000,
 9000,
 10000]